# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.sh
*.dSYM
*.vscode
*.plist
*.cmake

/build/*
/CMakeFiles/*
.DS_Store
main
test
test2
Makefile
CMakeCache.txt
src/main
src/utils
src/Query
src/Backup
src/ZipSwitchFile
src/ZipAnalogFile
src/ZipFile
/.vscode/*
/testIEDB/*
*.json
*.dat
*.idb
*.tem
*.ziptem
src/Schema
*.datzip
*.idbzip
*.pak
Schema
test.cpp
CMakeLists.txt
*.pyc
*.ipynb
/.ipynb_checkpoints/
*.pkl
src/Aggregate
src/MachineLearning
src/Inseert
*.xlsx
*.bak
src/Recovery
*.log
*.zip